[Desktop Entry]
Encoding=UTF-8
Name=Link to https://img-my.csdn.net/uploads/201211/21/1353461596_7598.JPG
Type=Link
URL=https://img-my.csdn.net/uploads/201211/21/1353461596_7598.JPG
Icon=image-jpeg
Name[en_US]=RGB->HSV.JPG
